@font-face {
    font-family: Kanit;
    src: url(./Kanit-ExtraLight.ttf);
}

.container {
    max-width: 940px;
    margin: 0 auto;
}

.body {
    font-family: Kanit;
    margin: 0;
    padding: 0;
    background: #e70606;
}

.header {
    height: 87px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.ureiw {
    display: flex;
    align-items: center;
    height: 87px;
    justify-content: space-between;
}

.nav__link {

    margin-right: 150px;
    font-size: 18px;
    line-height: 22px;

    color: #828282;
    text-decoration: none;
}

.nav__link:last-child {
    margin-right: 0;
}

.border {
    border: 1px solid #828282;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.section {
    height: 188px;
}

.name {
    font-size: 47.3392px;
    line-height: 59px;
    color: #070707;
    margin: 0;
    width: 123px;
    height: 118px;
}

.pox {
    margin: 0;
    width: 155px;
    height: 44px;
    font-size: 18px;
    line-height: 22px;
    color: #070707;
}

.img {
    background-image: url(./RU\ _\ ENG.png);
    width: 20px;
    height: 65px;
}

.wrapper {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}



.section-two {
    height: 471px;
}

.big-img {
    width: 943.61px;
    height: 387px;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 49px;
    background-image: url(./photo_2022-09-13_12-25-24.jpg);
}

.section-fri {
    height: 506px;
    background: #e5e5e5
}

.yan {
    padding: 100px 0 17.60px 0;

    margin: 0;
    font-size: 34px;
    line-height: 42px;
    text-align: center;

    /* Black */

    color: #070707;

}

.text {
    margin: 0 auto;
    width: 485px;
    height: 218px;
}

.text__aboutme {
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #070707;

}








.section-four__skills {
    margin: 0;
    margin-top: 91px;
    font-size: 34px;
    line-height: 42px;
    text-align: center;

    color: #070707;
}

.section-four__programs {
    margin: 0;
    margin-top: 61px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;

    color: #070707;
}


.wrapper__skills {
    margin: 0;
    width: 89.67px;
    height: 86.85px;
}

.wrapper__skills .skillsss {
    width: 62px;
    height: 89px;
}


.section-four__wrapper {
    margin: 0;
    margin-top: 83px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.wrapper__skills:nth-child(1) {
    background: radial-gradient(75.99% 75.64% at 32.94% 22.44%, rgba(52, 54, 78, 0.98) 0%, #0C0824 100%);
}

.wrapper__skills:nth-child(2) {
    background: radial-gradient(76% 75.63% at 32.97% 22.44%, rgba(66, 51, 37, 0.98) 0%, #1C0A00 100%);
}

.wrapper__skills:nth-child(3) {
    background: radial-gradient(76% 75.63% at 32.97% 22.42%, rgba(68, 47, 85, 0.98) 0%, #12002C 100%);
}




.skills-lol {
    display: block;
}

.box-box {
    position: relative;
    display: flex;

}

.box {
    width: 89px;
    height: 89px;

}

.box:nth-child(2) {
    width: 89px;
    height: 89px;

    position: absolute
}


.flex-box {
    width: 86px;
}


.skills__text {
    margin-top: 30px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;

    color: #828282;
}

.active {
    background-image: url(./Star\ aa.png);
    width: 20px;
    height: 20px;
    margin: 0 9px ;
}

.disable {
    background-image: url(./Star\ not.png);
    width: 20px;
    height: 20px;
    margin: 0 9px ;
} 

.skills__star:nth-child(n) {
    display: flex;
    
}

.wrapper-five {
    padding-top: 12px;;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin-bottom: 110px;
}

.section-six {
    background-color: #e5e5e5;
}

.section-six__portfol {
    margin: 0;
    padding: 130px 0 47px;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    pa color: #070707;
}

.portfol__text {
    margin: 0;
    padding: 45px 0 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.footer__contacts {
    margin: 0;
    margin: 114px 0 20px;
    font-size: 34px;
    line-height: 42px;
    text-align: center;

    color: #070707;
}

.footer__text {
    margin: 0;
    max-width: 275px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 22px;
    text-align: center;

    color: #070707;
}

.footer__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__btn {
    margin-top: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 166px;
    height: 38px;
    background: #070707;
    border-radius: 100px;
    position: relative;
    text-decoration: none;
}


.footer__btn span {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

.footer__telegram {
    margin-top: 100px;
    Width: 39.11px; 
    Height: 40px;
}


.footer__css {
    display: flex;
    width: 140px;
    justify-content: space-between;
    margin: 0 auto;
}

.footer__terms {
    width: 327px;
    margin: 0 auto;
}

.terms {    
    margin: 45px 0 123px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;

    color: #828282;
}

