*{padding: 0; margin: 0;}

@font-face {
    font-family: OpenSans;
    src: url(./OpenSans-VariableFont_wdth\,wght.ttf);
}

body {
    font-family: OpenSans;
}

.header {
    background: #000000;
    padding: 0 170px 0 115px;
    height: 75px;

    &__wraper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__wraper-it {
        display: flex;
    }
    &__logo-AX {
        background-image: url(/src/styles/AXIT\ \(1\).svg);
        width: 33px;
        height: 30px;
        background-repeat: no-repeat;
    }
    &__logo-IT {
        background-image: url(/src/styles/AXIT\ \(3\).svg);
        width: 52px;
        height: 30px;
        background-repeat: no-repeat;
    }
    &__nav {
        display: flex;
    }
    &__link {
    width: 123px;
    height: 70px;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    text-decoration: none;
    }
    &__link:last-child {
        width:  49px;
    }
}



.main-bg {
    background-image: url(/src/styles/image.png);
    position: relative;;
    width: 100%;
    height: 1026px;
    background-repeat: no-repeat;
    background-size: cover;
    
    &__tonir {
        background-image: url(./bg.svg);
        position: absolute;
        width: 1583px;
        height: 1026px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    &__wraper{
                padding: 280px 170px 0 170px;
                display: flex;
                justify-content: space-between;
                flex-direction: row;
            }



            &__img {
                display: flex;
            } 
                
            &__AX {
                color: #FFFFFF;
                font-size: 74px;
            }
            &__IT {
                color: #EC7979;
                font-size: 74px;
            }
            
        &__text {
            margin: 72px 0 55px 0;
            width: 615px;
            font-weight: 500;
            font-size: 48px;
            line-height: 56px;
            display: flex;
            align-items: center;
            text-transform: uppercase;
            color: #FFFFFF;
        }

        &__border {
            border-bottom: 1px solid #fff;
            width: 171px;
        }
        &__h6 {
            margin: 42px 0 42px 0;
            width: 262px;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            display: flex;
            align-items: center;
            color: #FFFFFF;
        }

        &__btm {
            Width: 263px;
            Height: 58px;
            border: 1px solid #fff;
            font-weight: 600;
            font-size: 18px;
            line-height: 25px;
            color: #FFFFFF;
            text-decoration: none;

            display: flex;
            align-items: center;
            justify-content: center;
        }

        
        
        &__form {
            margin-top: 25px;
            background-color: #fff;
            width: 470px;
            height: 450px;  
            border-radius: 15px;
            display: flex;
            flex-direction: column;
        }


            &__forms{
                Width: 470px;
                Height: 90px;
                color: #333333;
                font-weight: 700;
                font-size: 24px;
                line-height: 33px;
                text-transform: uppercase;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;

                samp {
                    color: #EC7979;
                    margin: 6px;
                    font-size: 25px;
                }
            }
            
                &__padding {
                    padding: 0 50px 0 50px;
                }
                

                    &__name {
                        margin: 45px 0 16px 0;
                        width: 370px;
                        height: 19px;
                        border: none;
                        outline: 0;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 19px;
                        display: flex;
                        align-items: center;
                        color: #BDBDBD; 
                    }
                  
                    &__borders {
                        border: 1px solid #BDBDBD;
                        width: 370px;
                    }

                    &__submit {
                        margin-top: 54px ;
                        background: #EC7979;
                        border-radius: 0px 0px 15px 15px;
                        width: 470px;
                        height: 60px;
                        font-weight: 600;
                        font-size: 15px;
                        line-height: 20px;
                        color: #FFFFFF;
                        border: none
                    }

        }

        .social {
            background: #F8EFEF;
            display: flex;
            position: relative;
            padding: 0 170px 0 170px;

            &__wraper-for-text{
                display: flex;
                flex-direction: column;
            }
                &__h2 {
                    height: 60px;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 33px;
                    display: flex;
                    align-items: center;
                    text-transform: capitalize;
                    color: #333333;
                }
                &__p {
                    margin: 18px 0 18px 0;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 21px;
                    display: flex;
                    align-items: center;
                    color: #86878B;
                    width: 485px;
                }
            &__wraper-for-social {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
                &__icon:nth-child(1) {
                    background-image: url(./Vector\ \(8\).png);
                    Width: 30.32px;
                    Height: 55.42px;
                    background-repeat: no-repeat;
                    margin: 0 55px 0 168px;; 
                }
                &__icon:nth-child(2) {
                    background-image: url(./Vector\ \(2\).png);
                    Width:57.32px;
                    Height:57.56px;
                    background-repeat: no-repeat;
                    margin-right: 45px;
                } 
                &__icon:nth-child(2) {
                    background-image: url(./Vector\ \(3\).png) ;
                    Width:60px;
                    Height:60px;
                    background-repeat: no-repeat;
                    margin-right: 45px;
                }
                &__icon:nth-child(3) {
                    background-image: url(./Vector\ \(4\).png) ;
                    Width:60px;
                    Height:60px;
                    background-repeat: no-repeat;
                    margin-right: 45px;
                }
                &__icon:nth-child(4) {
                    background-image: url(./Vector\ \(5\).png) ;
                    Width:60px;  
                    Height:60px;
                    background-repeat: no-repeat;
                    margin-right: 45px;
                }
                &__icon:nth-child(5) {
                    background-image: url(./Vector\ \(6\).png) ;
                    Width:60px;
                    Height:60px;
                    background-repeat: no-repeat;
                    margin-right: 45px;
                }
                &__icon:nth-child(6) {
                    background-image: url(./Vector\ \(7\).png) ;
                    Width:60px;
                    Height:60px;
                    background-repeat: no-repeat;
                }
        }

        .tabs {
            display: flex;
            flex-direction: column;
            padding: 0 170px 0 170px;
            margin: 138px 0 50px 0;

            &__btns {
                display: flex;
            }
            &__tab {
                font-weight: 400;
                font-size: 14px;
                line-height: 19px;
                text-transform: uppercase;
                color: #333333;
                text-decoration: none;
                display: flex;
                align-items: center;
                justify-content: center;                
                width: 201px;
                height: 34px;
            }


            &__tab:nth-child(1) {
                border: 1px solid #C6CBCD;
                border-bottom: none;
                position: relative;
                border-radius: 5px 5px 0 0;
            }
           

            &__borderhower {
                border-bottom: 1px solid #C6CBCD;
                width: 1041px;
                position: absolute;
                transform: translate(202px, 35px);
            }




            &__wrap {
                display: flex;
                padding: 0 0 0 100px;
                border: 1px solid #C6CBCD;
                border-top: none;
            }
            &__box-one {
                display: flex;
                flex-direction: column;
                margin-right: 30px;
            }
            &__h3 {
                font-weight: 700;
                font-size: 30px;
                line-height: 41px;
                display: flex;
                align-items: center;
                color: #000000;
                width: 570px;
                height: 124px;
                margin-bottom: 27px;
            }
            &__h5 {
                width: 570px;
                height: 210px;
                font-weight: 400;
                font-size: 18px;
                line-height: 21px;
                display: flex;
                align-items: center;
                color: #000000;
            }
            &__Download {
                width: 270px;
                height: 58px;
                font-weight: 600;
                font-size: 18px;
                line-height: 25px;
                text-transform: capitalize;
                background: #EC7979;
                color: #FFFFFF;
                text-decoration: none;
                margin: 27px 0 54px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &__rectangle {
                background-image: url(./Rectangle\ 111.png);
                width: 541px;
                height: 544px;
                background-size: cover;
            }
        }
.about {
    display: flex;
    flex-direction: column;
    padding: 0 170px 58px 170px;

    &__h4 {
        font-weight: 400;
        font-size: 36px;
        line-height: 42px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #000000;
        width: 100%;
        height: 150px;
        display: flex;
        justify-content: center;
    }
    &__border-bottom {
        border-bottom: 1px solid #EC7979;
        border-bottom: 1px solid #ec7979;
        width: 170px;
        margin: 0 auto;
    }
    &__h7 {
        width: 100%;
        display: flex;
        justify-content: center;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #86878B;
        margin: 40px 0 110px 0;
    }
    &__wraper-icon {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    &__icons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 370px;
        
    }
    &__vector {
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 50%;
        margin-left: -37px;
        position: relative;
    }
    &__vector::before {
        content: "";
        position: absolute;
        width: 92px;
        height: 92px;
        border: 1px solid #EC7979;
        border-radius: 150px;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    .img1 {
        width: 75px;
        height: 75px;
        background-image: url(./Group.png);
    }
    .img2 {
        width: 66px;
        height: 46px;
        background-image: url(./Vector\ \(9\).png)
    }
    .img3 {
        width: 44px;
        height: 66px;
        background-image: url(./Vector\ \(10\).png)
    }
    
    
    &__h8 {
        margin: 39px 0 8px 0;
        font-weight: 700;
        font-size: 24px;
        line-height: 33px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: capitalize;
        color: #000000;
        width: 369px;
        height: 100px;
    }
   
    &__text-about {
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #000000;
    }
}



    .pricing {
        display: flex;
        flex-direction: column;
        background: #F5F5F5;
        padding: 50px 170px 50px 170px;

        &__name {
            width: 100%;
            height: 150px;
            font-weight: 400;
            font-size: 36px;
            line-height: 42px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            color: #000000;
        }
        &__separator {
            border: 1px solid #EC7979;
            width: 170px;
            margin: auto;
        }
        &__tex {
            margin: 40px 0 79px 0;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #86878B;
        }

        &__wrapin {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        &__blokc {
            display: flex;
            flex-direction: column;
            width: 370px;
            height: 510px;
            background-color: #fff;
        }

        &__one {
            width: 370px;
            height: 60px;
            background-color:#333333; 
            font-weight: 700;
            font-size: 24px;
            line-height: 33px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: capitalize;
            color: #FFFFFF;
            border: 2px solid #F5F5F5;
        }
        &__two {
            width: 370px;
            height: 100px;
            background-color:#333333; 
            border: 2px solid #F5F5F5;
            font-weight: 700;
            font-size: 36px;
            line-height: 42px;
            display: flex;
            align-items: center;
           justify-content: center;
            color: #FFFFFF;
        }
        &__three {
            width: 370px;
            height: 50px;
            background-color:#333333; 
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid #F5F5F5;
            color: rgba(255, 255, 255, 0.5);
        }
        &__four {
            border: 2px solid #F5F5F5;
            width: 370px;
            height: 50px;       
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: capitalize;
            color: #86878B;
        }
        &__five {
            border: 2px solid #F5F5F5;
            width: 370px;
            height: 50px;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: capitalize;
            color: #86878B;
        }
        &__six {
            border: 2px solid #F5F5F5;
            width: 370px;
            height: 50px;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: capitalize;
            color: #86878B;
        }
        &__seven {
            border: 2px solid #F5F5F5;
            width: 370px;
            height: 50px;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: capitalize;
            color: #86878B;
        }
        &__eight {
            border: 2px solid #F5F5F5;
            width: 370px;
            height: 50px;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: capitalize;
            color: #86878B;
        }
        &__nine {
            border: 2px solid #F5F5F5;
            width: 370px;
            height: 50px;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: capitalize;
            color: #86878B;
        }
        &__blokc:nth-child(2) {
            bottom: 25px;
            position: relative;
            filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
        }
    }   
.reviews {
    display: flex;
    flex-direction: column;
    padding: 50px 170px 64px 170px;

    &__h2 {
        width: 100%;
        height: 150px;
        font-weight: 400;
        font-size: 36px;
        line-height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        color: #000000;
    }
    &__text {
        margin: 40px 0 83px 0;
        width: 100%;
        justify-content: center;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #86878B;
    }

    &__customers {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__customer-ones {
        display: flex;
        flex-direction: column;
    }

        &__bloc {
            width: 370px;
            height: 180px;
            background: #E2E2E2;
            border-radius: 10px;
            padding: 0 0 0 23px;
            box-sizing: border-box;
        }
        &__h5 {
            padding: 38px 0 37px 0;
            width: 364px;
            height: 105px;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #86878B;
        }

        &__user {
            display: flex;
            flex-direction: row;
            padding: 46px 0 0 0px;
        }
        &__ellipse {
            width: 70px;
            height: 70px;
            background-image: url(./Ellipse\ 7.png);
        }

        .box2 {
            width: 70px;
            height: 70px;
            background-image: url(./Ellipse\ 7\ \(1\).png);
        }
        .box3 {
            width: 70px;
            height: 70px;
            background-image: url(./Ellipse\ 7\ \(2\).png);
        }
        
        &__name {
            margin: 0 0 0 30px;
            font-weight: 700;
            font-size: 24px;
            line-height: 33px;
            display: flex;
            align-items: center;
            text-transform: capitalize;
            color: #000000;
            width: 269px;
            height: 54px;
        }
        &__h3 {
            margin: 0 0 0 100px;
            width: 270px;
            height: 21px;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            display: flex;
            align-items: center;
            color: #000000;
        }
}
.banner {
    display: flex;
    flex-direction: column;
    padding: 50px 170px 50px 170px;
    background-size: cover;
    background-image: url(./image\ \(1\).png);

    &__h3 {
        width: 100%;
        height: 150px;
        font-weight: 400;
        font-size: 36px;
        line-height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    &__border {
        border: 1px solid #fff;
        width: 150px;
        margin: 0 auto;
    }
    &__text {
        margin: 40px 0 73px 0;
        width: 100%;
        height: 21px;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
    }
    &__btn {
        width: 370px;
        height: 58px;
        border: 1px solid;
        margin: auto;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: capitalize;
        color: #FFFFFF;
        text-decoration: none;
    }
}

.Contact {
    display: flex;
    flex-direction: column;
    padding: 0 170px 0 170px;

    &__h3 {
        width: 100%;
        height: 150px;
        font-weight: 400;
        font-size: 36px;
        line-height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        color: #000000;
    }
    &__border {
        border-bottom: 1px solid;
        width: 150px;
        margin: auto;
    }
    &__text {
        padding: 40px 0 89px 0;
        width: 100%;
        height: 21px;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #86878B;
    }
}